/* Brand */
$default-font: 'Roboto', sans-serif;
$primary-color: color('blue', 50);
$primary-color-bright: color-tint($primary-color, 20);
$primary-color-dark: color-shade($primary-color, 20);

/* Color */
$footer-color: color('gray', 80);
$link-color: color('blue', 50);
$text-color: #333;

/* Sizing */
$navbar-height: 50px;
$container-max-width: 1200px;
$text-max-width: 592px;
$extra-small-max-width: 540px;
$phone-max-width: 768px;
$min-viewport-width-for-sidebar: 936px;
$default-margin: 16px;
